<header>
  <p id="logo"><a href="/">RailsCamp<span>Blog</span></a></p>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "トップ", root_path %></li>
        <li><%= link_to "新規投稿", signup_path %></li>
        <li><%= link_to "ログアウト", "/users/sign_out" %></li>
        <div class="clear"></div>
      <% else %>
        <li><%= link_to "ユーザ登録", "users/sign_up" %></li>
        <li><%= link_to "ログイン", "users/sign_in" %></li>
        <div class="clear"></div>
      <% end %>
    </ul>
  </nav>
  <div class="clear"></div>
</header>